body {
    font-family: Arial, Helvetica, sans-serif;
    background: url("http://3.bp.blogspot.com/-2YB6blJkwgg/TzbgsCq3iTI/AAAAAAAAA7Y/gLDEiFXU75I/s1600/115.Jpg");
    background size: cover;
    background-repeat: repeat;
    text-align: center;
    color: whitesmoke;
}

title {
    text-align: center;
}

h1 {
    color:whitesmoke;
    text-align: center;
}

p {
    color: whitesmoke;
    text-align: center;
}

#searchButton {
    margin: 20px;

    padding: 1px;
}

#flag {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    outline-color: white;
    outline-width: 2px;
    outline-style: auto;
}

#searchBar {
    margin: auto;
    display: flex;
    text-align: center;
}

#fetch {
    margin-top: 200px;
    width: 100px;
    height: 50px;
    margin: auto;
    display: flex;
    text-align: center;
}

.country {
    margin-left: 200px;
    margin-right: 200px;
    background-color: black;
    padding-left: 2px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 30px;
    outline-color: cornsilk;
    outline-width: 20px;
    outline-style: auto;
}

#fetch {
    margin-top: 5px;
    margin-bottom: 5px;
}



